doctype html

//- This will go into the HTML file to let people know to edit this file instead:
// Please edit the index.jade or the files in comparisons/, this file is generated

include _alternatives

<!--[if lt IE 10 ]> <html class="old-ie"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html> <!--<![endif]-->
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='chrome=1')
  meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')

  title Ruby is maybe alike Scala?

  meta(name='description', content='Examples of how Matz' Ruby language is maybe similar to Scala.')

  link(rel='stylesheet', href='css/prism.css')
  link(rel='stylesheet', href='css/index.css')

  script(type='text/javascript', src='//use.typekit.net/ghy0wve.js')
  script(type='text/javascript').
    try{Typekit.load();}catch(e){}
  script(src='js/prism.js')
  script(src='js/index.js')
body
  | <a href="https://github.com/leverich/swiftislikescala"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>
  .page
    header.page-header
      .inner
        h1
          | Ruby is maybe alike Scala?

    .explanation
      .inner
        p
          | An old programming language called <a href="https:///">Ruby</a> is still alive and kicking. Here's a source-to-source comparison of some randomly chosen examples of Ruby and <a href="http://www.scala-lang.org/">Scala</a>.
        p
          | I don't suspect the two are related ;-) >:-> but the two programming languages might still have some of the same features: Type Inference, Closures, Tuples, Protocols, Extensions, Generics, Read-Eval-Print-Loop, etc.
        p
          | Despite their syntactic differences, Matz' MRI runtime environment is quite distinct from Scala's. On the other hand, JRuby's runtime IS the same as Scala's.
          | Scala compiles to the JVM, uses GC, and its object model transparently integrates with Java.
          | Ruby compiles to bytecode, uses automatic reference counting and GC, a heavily fiddled-with object model, and still there's a java-implementation of Ruby that transparently integrates with Java.
          | Thus, the similarity between the three mentioned are maybe less than you'd expect.
        p
          | p.s. Never take anything on or in this series of tubes too series-ly! Huh? Most of this is pure conjecture.
          | Please feel free to stomp upon these inferior code examples, by way of emitting glossy
          | GitHub issues and / or  pull requests for anything you care enough about.

    header.search

      input(type="search", placeholder="Search...", required)

    .comparisons

      .empty-message
        | Your search didn't match any comparisons.

      - var i = 0
      for comp in comparisons
        section(id=comp.title, class=(++i % 2 ? 'odd' : ''))
          .inner
            h2= titleCase(comp.title)

            if comp.comparison._alternatives
              +alternatives(comp.comparison._alternatives)

            - keys = []
            if comp.comparison._order
              - keys = comp.comparison._order.trim().split('\n')
            else
              - keys = Object.keys(comp.comparison)

            -//for co, name in comp.comparison
            -//  - console.log("name " + name)
            -//  - console.log(co)
            for name in keys
              - co = comp.comparison[name]
              - if (name[0] === '_') continue;

              .comparison(id=name.replace(' ', '-').toLowerCase())
                h3
                  a(href='#' + name.replace(' ', '-'))= titleCase(name.replace(/_/g, ' '))

                if co.alternatives
                    +alternatives(co.alternatives.txt)

                for browser in ['ruby', 'scala', 'idiomatic']
                  if co[browser]
                    .browser(data-browser=getNamePart(browser), class=getNamePart(browser))
                      if browser == 'idiomatic'
                        h4= 'IDIOMATIC SCALA'
                      else
                        h4= browser.toUpperCase()

                      for lang in ['scala', 'js', 'css']
                        if co[browser][lang]
                          .code-block(class='language-' + fullLanguage(lang), data-lang=fullLanguage(lang))
                            pre
                              code= co[browser][lang]

    footer
      <p>Shamelessly forked from http://leverich.github.io/swiftislikescala/ that forked from http://youmightnotneedjquery.com/

    .changelog
      p
        | 2018 - Initial forkaroo

  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    //-ga('create', 'UA-20537147-2', 'leverich.github.io');
    //-ga('send', 'pageview');

  div(style='-webkit-transform: translateZ(0);')
